<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Portfolio</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure fugiat officiis amet ipsa et, iste, adipisci blanditiis doloremque esse molestias enim? Aliquid asperiores voluptate vitae, optio veniam autem magnam saepe.
            </p>
         </div>
         <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/iconodev.png" class="img-fluid img-proyecto">
         </div>
    </div>
</div>