.card mat-card{
    /*padding: 15px;*/
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;  /*esto es un comentario en css*/
    border-color:rgb(73, 72, 72); /*color de borde*/
}
div{
    background-color: rgb(170, 169, 169);
}
