<div class="card mat-card">

    <div id="education" style="padding: 25px"> 
        <div class="card-titles">
             <h2>Educación</h2>
             <div class="btn-edit">
                <a href="#" class="btn-right"> <i class="fa fa-plus"></i></a>
             </div>
            

             
             <ul class="items-list">
                <li> 
                    <div class="data-container">
                        <a href="#">
                            <div class="logo-image-container"> <img  class= "logo-image" src=""></div>
                        </a>
                    </div>
                    <div class="list-info">
                        <div>
                            <h3>Universidad Nacional de las Artes </h3>
                            <p>Licenciatura en Artes Visuales</p>
                            <p> <time>2014</time> - <time>2023</time> </p>
                        </div>
                        <div class="data-control">
                            <div class="btn-edit">
                                <a href="#" class="btn-right"> <i class="fa fa-pen"></i></a>
                            </div>
                        </div>
                    </div>
                </li>   
                <li> 
                    <div class="data-container">
                        <a href="#">
                            <div class="logo-image-container"> <img  class= "logo-image" src=""></div>
                        </a>
                    </div>
                    <div class="list-info">
                        <div>
                            <h3>Colegio Nacional Almirante Guillermo Brown</h3>
                            <p>Bachiller en Ciencias Sociales - Humanidades</p>
                            <p> <time>2003</time> - <time>2005</time> </p>
                        </div>
                        <div class="data-control">
                            <div class="btn-edit">
                                <a href="#" class="btn-right"> <i class="fa fa-pen"></i></a>
                            </div>
                        </div>
                    </div>
                </li> 
                


             </ul>
                      
         </div>
    </div>

</div>