.row{
    background-color: rgb(0, 0, 0);
}
footer{
    color: antiquewhite;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px 2px 5px  rgb(0, 0, 0);   
}