<div class="card mat-card">
    <div id="experience" style="padding: 25px"> 
        <div class="card-titles">
             <h2>Experiencia</h2>
             <div class="btn-edit"> <a href="#" class="btn-right"> <i class="fa fa-plus"></i></a></div>
             
             <ul class="items-list">
                <li> 
                    <div class="data-container">
                        <a href="#">
                            <div class="logo-image-container"> <img  class= "logo-image" src=""></div>
                        </a>
                    </div>
                    <div class="list-info">
                        <div>
                            <h3>Backend Developer</h3>
                            <p> Nombrempresa - <span>Jornada Parcial</span></p>
                            <h4>mar 2018 - actualidad</h4>
                            <h4>Buenos Aires (Argentina)</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ipsa fuga pariatur veniam tempora quisquam, natus earum illo harum deserunt nobis vel illum vitae eaque necessitatibus! Ad rerum culpa architecto.</p>
                        </div>
                        <div class="data-control">
                            <div class="btn-edit">
                                <a href="#" class="btn-right"> <i class="fa fa-pen"></i></a>
                            </div>
                        </div>
                    </div>
                </li>   
             </ul>
                      
         </div>
    </div>
</div>
