<div class="row">
    <h1>Experiencia laboral.</h1>
    <div class="col-lg-11">
        <ul>
            <li> <h2>Trabajo 1</h2> - <h4>(years)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ipsa fuga pariatur veniam tempora quisquam, natus earum illo harum deserunt nobis vel illum vitae eaque necessitatibus! Ad rerum culpa architecto.</p>
        </ul>
        <ul>
            <li> <h2>Trabajo 2</h2> - <h4>(years)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ipsa fuga pariatur veniam tempora quisquam, natus earum illo harum deserunt nobis vel illum vitae eaque necessitatibus! Ad rerum culpa architecto.</p>
        </ul>
        <ul>
            <li> <h2>Trabajo 3</h2> - <h4>(years)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ipsa fuga pariatur veniam tempora quisquam, natus earum illo harum deserunt nobis vel illum vitae eaque necessitatibus! Ad rerum culpa architecto.</p>
        </ul>
     </div>
</div>
