img {
    width: 100%;  /*ancho y largo de banner*/
    height: 300px;
    }

/*
div#profile-background{
    display:flex;
    z-index: 1;
    }
div#profile-background img{
    width: 100%;
    }
*/    
