<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
     [percent]="85"
     [radius]="100"
     [showUnits]="false"
     [title]="'HTML'"
     [titleFontSize]="'2em'"
     [showSubtitle]="false"
     [outerStrokeWidth]="12"
     [innerStrokeWidth]="6"
     [outerStrokeColor]="'#55574E'"
     [innerStrokeColor]="'#000000'"
     [animation]="true"
     [animationDuration]="500"
     ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
     [percent]="85"
     [radius]="100"
     [showUnits]="false"
     [title]="'CSS'"
     [titleFontSize]="'2em'"
     [showSubtitle]="false"
     [outerStrokeWidth]="12"
     [innerStrokeWidth]="6"
     [outerStrokeColor]="'#55574E'"
     [innerStrokeColor]="'#000000'"
     [animation]="true"
     [animationDuration]="500"
     ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
     [percent]="80"
     [radius]="100"
     [showUnits]="false"
     [title]="'JAVASCRIPT'"
     [titleFontSize]="'1em'"
     [showSubtitle]="false"
     [outerStrokeWidth]="12"
     [innerStrokeWidth]="6"
     [outerStrokeColor]="'#55574E'"
     [innerStrokeColor]="'#000000'"
     [animation]="true"
     [animationDuration]="500"
     ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
     [percent]="60"
     [radius]="100"
     [showUnits]="false"
     [title]="'GITHUB'"
     [titleFontSize]="'2em'"
     [showSubtitle]="false"
     [outerStrokeWidth]="12"
     [innerStrokeWidth]="6"
     [outerStrokeColor]="'#55574E'"
     [innerStrokeColor]="'#000000'"
     [animation]="true"
     [animationDuration]="500"
     ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
     [percent]="60"
     [radius]="100"
     [showUnits]="false"
     [title]="'INGLES'"
     [titleFontSize]="'2em'"
     [showSubtitle]="false"
     [outerStrokeWidth]="12"
     [innerStrokeWidth]="6"
     [outerStrokeColor]="'#55574E'"
     [innerStrokeColor]="'#000000'"
     [animation]="true"
     [animationDuration]="500"
     ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
     [percent]="100"
     [radius]="100"
     [showUnits]="false"
     [title]="'TRABAJO EN GRUPO'"
     [titleFontSize]="'1em'"
     [showSubtitle]="false"
     [outerStrokeWidth]="12"
     [innerStrokeWidth]="6"
     [outerStrokeColor]="'#55574E'"
     [innerStrokeColor]="'#000000'"
     [animation]="true"
     [animationDuration]="500"
     ></circle-progress>
    </div>
</div>