<div class="row">
    <div id="info" style="padding: 16px"> 
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="fotoperfil">
        <div class="btn-edit"> <a href="#" class="btn-right"> <i class="fa fa-pen">
        </i></a></div> 
        
    </div>
    <div class="col-lg-11">
        <p id="nombre">Nombre y Apellido</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-lg-11">
        <span>
            <h2>Acerca de mi</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, enim amet. Ex reiciendis, nisi, officia animi, perferendis culpa pariatur quis error ea voluptatum veritatis nam architecto exercitationem voluptatem iure. Repudiandae!</p>
        </span>
    </div>
    </div>
</div>


<!--<div class="card mat-card" id="first-card">
    <div id="profile-background"> <img src="../../../assets/"> --> <!--un banner x-->
        <!--<div id="info" style="padding: 16px">        recuadro debajo de banner-->

            <!--<div id="fotoperfil">
            
                <img src="../../../assets/fotoperfil.jpg" class="img-fluid"> 
                <div class="btn-edit"> <a href="#" class="btn-right"> <i class="fa fa-pen">
                </i></a></div>
            </div>-->

            <!--<div id="info-img">
                <img class= "profile-image" src="../../../assets/fotoperfil.jpg">
                <div class="btn-edit"> <a href="#" class="btn-right"> <i class="fa fa-pen">
                </i></a></div>

            </div>-->

            <!--<div id="info-data">
                <div>
                    <h1>Silvina Fernandez</h1>
                    <div id="info-company">Full Stack Developer Jr</div>
                    <div id="info-contact">
                        <span>Buenos Aires (Argentina)</span>
                        <span><a href="#">Información de contacto</a></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
-->