.row{
    padding: 20px;
}
div{
    background-color: rgb(255, 255, 255);
}

/*fotoperfil estilo*/
@media  (min-width:576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey; /*sombra*/
        left: 3%;
        top: 40%; /*sube la foto*/
    }
}
@media  (max-width:575px){
    #fotoperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey; /*sombra*/
        left: 33%;
        top: 40%; /*sube la foto*/
    }
}
/*etiq nombre*/
#nombre{
    font-weight: bold;
  padding-left: 10%;
}
#soy{
  padding-left: 10%;
}
h3{
  font-weight: bold;
}