.row{
    padding: 15px;
}
div{
    background-color: rgb(177, 177, 177);
}

/*stylo de fotoperfil*/
@media (min-width:576px){
    #fotoperfil{
        position: absolute;
        width: 13%;
        border-radius: 50%;
        box-shadow: 3px 3px 3px rgb(104, 103, 103);
        left: 80%;
        top: 150px;
    }
}

@media (max-width:575px){
    #fotoperfil{
        position: absolute;
        width: 30%;
        border-radius: 50%;
        box-shadow: 3px 3px 3px rgb(104, 103, 103);
        left: 33%;
        top: 300px;
    }
}



/*etiqueta nombre*/
div#info-contact span a{
    color: #0a66c2;
    touch-action: manipulation;
    text-decoration: none;
}
div#info-company{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.25;
}
div#info-data{
    display: flex;
    justify-content: space-between;
}
div#info-data h1{
    font-size: 1.8rem;
    display: inline;
    font-weight: 500;
    line-height: 1.25;
    word-wrap: break-word;
    word-break:break-word; /*ver  ojo*/
}

